@model IEnumerable<CardapioUI.Models.Cardapio>

@{
    ViewData["Title"] = "Lista de Cardápios";
}

    <h1>Lista de Cardápios</h1>

<p>
    @Html.ActionLink("Novo Cardápio", "CriarCardapio", "Cardapio")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "DetalhesCardapio", "Cardapio", new { id = item.Id }) |
                    @Html.ActionLink("Editar", "EditarCardapio", "Cardapio", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "ExcluirCardapio", "Cardapio", new { id = item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>
